/* CSS Variables */
* {
  --primary: #ddd;
  --light: #fff;
  --shadow: 0 1px rgba(0, 0, 0, 25);
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--dark);
}

body {
  background: rgb(68, 66, 66);
  margin: 30px 50px;
  background-repeat: no-repeat;
  background-position: cover;
  background-attachment: fixed;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
}

.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: red;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}

.image {
  display: flex;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  margin: 5px;
}
.image h2 {
  font-size: 20px;
  margin-left: 10px;
  color: red;
  -webkit-text-stroke: 1px red;
  background: url(/image/abc.jpg);
  /* -webkit-background-clip:text; */
  background-position: 0 0;
  animation: back 10s linear infinite;
}

@keyframes back {
  100% {
      background-position: 2000px 0;
  }
}

.image h3 {
  font-size: 20px;
  margin-left: 10px;
  color: greenyellow;
  -webkit-text-stroke: 1px red;
  background: url(image/Jollof.webp);
  /* -webkit-background-clip:text; */
  background-position: 0 0;
  animation: back 10s linear infinite;
}

@keyframes back {
  100% {
      background-position: 2000px 0;
  }
}
.image img {
  margin-top: 10px;
  width: 300px;
  height: 300px;
  animation: zoom-in-zoom-out 1s ease infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
      transform: scale(1, 1);
  }
  50% {
      transform: scale(1.5, 1.5);
  }
  100% {
      transform: scale(1, 1);
  }
}
.card-button {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
  grid-gap: 3rem;
  justify-content: center;
  margin: 1.9rem;
}
.container-1 {
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 2px 8px 0px var(--light);
  position: relative;
  overflow: none;
}

.card-img {
  position: absolute;
  background-image: url(image/download.jpg);
  height: 6.5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img-details {
  width: 7rem;
  margin-top: 5rem;
}
.name {
  font-size: 1rem;
}

.description {
  font-size: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.btn {
  background-color: red;
  padding: 1.5rem;
  color: rgb(146, 134, 134);
  border: none;
  font-size: 2rem;
  width: 100%;
  padding: 1rem;
}
.image p {
  font-size: 18px;
  color: silver;
  font-weight: bold;
}
.image h3 {
  font-size: 13px;
  font-weight: bold;
}

@media (min-width: 300px) and (max-width: 700px) {
  .main-nav ul {
      grid-template-columns: 1fr;
  }
  .image p {
      font-size: 10px;
  }
  .image img {
      margin-top: 10px;
      width: 200px;
      height: 100px;
  }
  .image h2 {
      font-size: 12px;
      margin-left: 10px;
      color: red;
  }
  .image h3 {
      font-size: 10px;
      margin-left: 10px;
      color: silver;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .main-nav ul {
      grid-template-columns: 1fr;
  }
  .image p {
      font-size: 10px;
  }
  .image img {
      margin-top: 10px;
      width: 200px;
      height: 100px;
  }
  .image h2 {
      font-size: 12px;
      margin-left: 10px;
      color: red;
  }
  .image h3 {
      font-size: 10px;
      margin-left: 10px;
      color: silver;
  }
}
