.form {
    position: absolute;
    text-align: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 30px;
    color: red;
    padding: 3px;
}
.form ul li {
    list-style: none;
}

@media (min-width: 300px) and (max-width: 700px) {
    .form {
        font-size: 10px;
    }
    .form p {
        font-size: 8px;
    }
    .form ul li {
        font-size: 8px;
    }
    .form legend {
        font-size: 8px;
    }
    footer {
        top: 290%;
    }
    footer p {
        color: silver;
    }
}
